@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-primary-dark: #4338ca;
  --color-secondary: #0ea5e9;
  --color-accent: #f59e0b;
  --color-text-dark: #1f2937;
  --color-text-light: #6b7280;
  --color-background-light: #f8fafc;
  --color-white: #ffffff;
  --color-success: #10b981;
  --color-error: #ef4444;
  --color-primary-rgb: 79, 70, 229;
}